<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    <ion-avatar>
      <img src="assets/joncena.jpeg" alt="Foto de perfil">
    </ion-avatar>
    <h2>{{ usuario?.nombre }} {{ usuario?.apellido }}</h2>
    <p>{{ usuario?.email }}</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-text>{{ usuario?.nombre }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-text>{{ usuario?.apellido }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Correo Electrónico:</ion-label>
      <ion-text>{{ usuario?.email }}</ion-text>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/editar-perfil" expand="full">Cambiar Contraseña</ion-button>
</ion-content>
