<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAlHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    <ion-avatar>
      <img src="assets/joncena.jpeg" alt="Foto de perfil">
    </ion-avatar>
    <h2>{{ usuario?.nombre }} {{ usuario?.apellido }}</h2>
    <p>{{ usuario?.email }}</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-text>{{ usuario?.nombre }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-text>{{ usuario?.apellido }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Correo Electrónico:</ion-label>
      <ion-text>{{ usuario?.email }}</ion-text>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/editar-perfil" expand="full">Cambiar Contraseña</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Historial de viajes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion *ngFor="let viaje of viajes">
          <ion-item slot="header">
            <ion-label>{{ viaje.fecha | date: 'dd/MM/yyyy HH:mm' }}</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item>
              <ion-label>Destino: {{ viaje.destino }}, {{ viaje.comunaViaje }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Costo: {{ viaje.precio }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Conductor: {{ viaje.conductor }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Patente: {{ viaje.patente }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
</ion-content>
