/* Ajustar el tamaño y alineación del selector de tiempo */
.datetime-selector {
    --min-width: 100%; /* Asegura que el selector ocupe todo el espacio disponible */
    --max-width: 100%; /* Evita que se corte */
    padding: 5px 0; /* Añadir algo de espacio alrededor */
  }
  
  ion-grid {
    margin-bottom: 15px; /* Añadir espacio entre los elementos del grid */
  }
  
  ion-col {
    display: flex;
    align-items: center;
  }

 
  ion-toolbar {
    --background: #20f7ef; 
    --color: rgb(0, 0, 0);
  }

  .error {
    color: var(--ion-color-danger);
    font-size: 0.8rem;
    margin-top: 4px;
    padding-left: 15px;
  }
  