<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="router.navigate(['/home'])">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Programar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="viajeForm" (ngSubmit)="programarViaje()">
    <!-- Dirección de inicio -->
    <ion-item>
      <ion-label position="floating">Punto de partida</ion-label>
      <ion-input
        formControlName="inicio"
        placeholder="Ingrese su punto de partida..."
        (ionInput)="onSearch($event, 'inicio')"
        [value]="direccionInicio"
        required
      ></ion-input>
    </ion-item>
    <ion-list *ngIf="searchResultsInicio.length > 0">
      <ion-item *ngFor="let result of searchResultsInicio" (click)="onSelectResult(result, 'inicio')">
        {{ result.place_name }}
      </ion-item>
    </ion-list>

    <!-- Dirección de destino -->
    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input
        formControlName="destino"
        placeholder="Ingrese su destino..."
        (ionInput)="onSearch($event, 'destino')"
        [value]="direccionDestino"
        required
      ></ion-input>
    </ion-item>
    <ion-list *ngIf="searchResultsDestino.length > 0">
      <ion-item *ngFor="let result of searchResultsDestino" (click)="onSelectResult(result, 'destino')">
        {{ result.place_name }}
      </ion-item>
    </ion-list>

    <!-- Fecha -->
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime
        formControlName="fecha"
        presentation="date"
        displayFormat="DD/MM/YYYY"
        [min]="minFecha"
      ></ion-datetime>
    </ion-item>
    <div *ngIf="viajeForm.get('fecha')?.invalid && viajeForm.get('fecha')?.touched" class="error">
      La fecha es obligatoria.
    </div>

    <!-- Precio -->
    <ion-item>
      <ion-label position="floating">Precio por Persona</ion-label>
      <ion-input formControlName="precio" type="number" required></ion-input>
    </ion-item>

    <!-- Asientos -->
    <ion-item>
      <ion-label position="floating">Asientos Disponibles</ion-label>
      <ion-input formControlName="asientos" type="number" required></ion-input>
    </ion-item>

    <!-- Modelo -->
    <ion-item>
      <ion-label position="floating">Modelo del Auto</ion-label>
      <ion-input formControlName="modelo" required></ion-input>
    </ion-item>

    <!-- Patente -->
    <ion-item>
      <ion-label position="floating">Patente del Auto</ion-label>
      <ion-input formControlName="patente" required></ion-input>
    </ion-item>

    <!-- Botón -->
    <ion-button expand="full" type="submit">
      Programar Viaje
    </ion-button>
  </form>
</ion-content>
