<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón personalizado para volver al Home -->
      <ion-button (click)="volverAlHome()">
        <ion-icon name="arrow-back-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-title>Programar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="programarViaje()">
    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input [(ngModel)]="destino" name="destino" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comuna de Viaje</ion-label>
      <ion-input [(ngModel)]="comunaViaje" name="comunaViaje" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime [(ngModel)]="fecha" name="fecha" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio por Persona</ion-label>
      <ion-input [(ngModel)]="precio" name="precio" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Asientos Disponibles</ion-label>
      <ion-input [(ngModel)]="asientos" name="asientos" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Modelo del Auto</ion-label>
      <ion-input [(ngModel)]="modelo" name="modelo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Patente del Auto</ion-label>
      <ion-input [(ngModel)]="patente" name="patente" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!formValid()">Programar Viaje</ion-button>
  </form>
</ion-content>
