// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-button-background: #60f7ef; 
    --ion-color-button-background-activated: #20f7ef; 
    --ion-color-button-background-hover: #15a8a3;
    --ion-color-button-background-focused: #20f7ef; 
  }

  ion-button {
    --background: var(--ion-color-button-background);
    --background-activated: var(--ion-color-button-background-activated);
    --background-hover: var(--ion-color-button-background-hover);
    --background-focused: var(--ion-color-button-background-focused);
  }