<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Viaje En Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let viaje of viajesActuales">
      <ion-label>
        <h2>{{ viaje.inicio }}</h2>
        <p>{{ viaje.destino }} - {{ viaje.fecha | date: 'dd/MM/yyyy' }}</p>
        <p>Conductor: {{ viaje.conductor }}</p>
      </ion-label>
      <ion-button color="danger" (click)="confirmarCancelacion(viaje)">Cancelar</ion-button>
      <!-- Agregar botón para ver en el mapa -->
      <ion-button color="primary" (click)="verEnMapa(viaje)">Ver en el mapa</ion-button>
    </ion-item>
  </ion-list>

  <ion-loading [isOpen]="loading" message="Cargando viajes actuales..."></ion-loading>

  <div *ngIf="viajesActuales.length === 0 && !loading" class="no-travels">
    <p>No tienes viajes actuales.</p>
  </div>
</ion-content>