ion-card-title {
  text-align: center;
}

ion-button {
  --border-radius: 20px;
  margin-top: 10px;
  --background: #20f7ef; /* Esto asegurará que todo el botón tenga el color deseado */
  --background-activated: #20f7ef; /* Opcional, para cambiar el color cuando el botón es presionado */
  --background-focused: #20f7ef; /* Opcional, para mantener el mismo color cuando el botón está enfocado */
  --background-hover: #20f7ef; /* Opcional, para mantener el color al pasar el cursor sobre el botón */
}

ion-list {
  margin-top: 10px;
}

ion-item {
  --background: #f0f0f0;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

p {
  font-size: 0.9em;
  color: #666;
}

ion-toolbar {
  --background: #20f7ef; 
  --color: rgb(0, 0, 0);
}
