<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> <!-- Volver a la página principal -->
    </ion-buttons>
    <ion-title>Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- Mostrar los viajes que el usuario ha creado -->
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>{{ viaje.destino }}</h2>
        <p>{{ viaje.comunaViaje }} - {{ viaje.fecha | date }}</p>
        <p>Precio: ${{ viaje.precio }}</p>
        <ion-button routerLink="/viaje-detalle/{{ viaje.id }}">Ver Detalles</ion-button>
        <ion-button color="danger" (click)="confirmarCancelacion(viaje)">Cancelar</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Mostrar mensaje si no hay viajes creados -->
  <div *ngIf="viajes.length === 0 && !loading" class="no-travels">
    <p>No tienes viajes creados.</p>
  </div>

  <!-- Indicador de carga -->
  <ion-loading [isOpen]="loading" message="Cargando tus viajes..."></ion-loading>
</ion-content>
