<ion-header>
  <ion-toolbar>
    <ion-title>Acceso a tu Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <form [formGroup]="formAcceso" (ngSubmit)="acceder()">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="email" formControlName="email" placeholder="Ingresa tu correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" placeholder="Ingresa tu contraseña"></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="formAcceso.invalid">Entrar</ion-button>
        </form>
        <div class="ion-text-center">
          <a routerLink="/reestablecer" routerDirection="forward" style="text-decoration: none; display: block; margin-top: 10px;">
            ¿Has olvidado tu contraseña?
          </a>
        </div>
        <ion-nav-link routerLink="/registrarse" routerDirection="forward">
          <ion-button color="secondary" expand="block" style="margin-top: 10px;">
            Registrarse
          </ion-button>
        </ion-nav-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
